/*.register {
    margin-top: 3rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 700px) {
        margin-top: 10rem;
    }

    .form--container {

        h3.text {
            padding-block: 2rem;
            font-size: 2rem;
            font-weight: 600;
            text-align: left;
        }
    }
    .account {
        margin-block: 1rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;

        a {
            text-transform: capitalize;
            text-decoration: underline;
            color: var(--logo-color);
        }
    }
}*/

 section.register {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../public/b1.jpeg'); /* Change the background image URL */
        background-size: cover; /* Adjusts the background image size to cover the entire element */
        background-position: center; /* Centers the background image */
        background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value (0.5) as needed for transparency */
    }
    
    
    


    @media screen and (max-width: 700px) {
        section.login {
            margin-top: 10rem;
        }
    }

.form--container {
    width: 420px;
    background: transparent;
    border: 10px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 40px;
    padding: 10px 20px;
}

.form--container h3.text {
    padding-block: 2rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    margin-top: 10%;
}

.form--container form .form--box {
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: 2rem;
}

.form--container form .form-- input {
    height: 3rem; /* Adjust the height as needed */
    width: 95%;
    font-size: 1.6rem; /* Adjust the font size as needed */
    font-weight: 500;
    text-transform: none;
    padding-left: 1rem;

}

.form--container form .form1-- input {
   
    border: 1px solid #aaa;
    height: 3.4rem; /* Adjust the height as needed */
    width: 97%;
    font-size: 1.6rem; /* Adjust the font size as needed */
    font-weight: 500;
    text-transform: none;
    padding-left: 1rem;
    border-radius: .3rem;
}

.form--container form button {
    width: 100%;
    padding: 1rem 2rem; /* Adjust padding as needed */
    color: var(--white-color);
    background-color: var(--logo-color);
    font-size: 1.2rem; /* Adjust font size as needed */
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    border-radius: .5rem;
    margin-bottom: 2rem;
}


.form--container form button:hover {
    background-color: var(--black-color);
}

.form--container p.text {
    text-align: center;
    font-size: 1.0rem;
    text-transform: uppercase;
}

.social-login-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    
  }

.social-login-box {
    width: 100%; /* Adjust the width as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 1rem;
    
}

.social-login-box:first-child {
    margin-right: 1rem; /* Add space between the boxes */
  }
  
 /* .social-login-box:last-child {
    margin-left: 1rem;  Add space between the boxes 
  }*/

.social-login-box:hover {
    background-color: var(--black-color);
    color: var(--white-color);
    
}

.social-login-box svg {
    font-size: 2rem;
  font-weight: 800;
  
}

.social-login-box p {
    font-size: 1.2rem;
  text-transform: none;
  
}

.account {
    margin-block: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.account a {
    text-decoration: underline;
    color: var(--logo-color);
}

