body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  #house-listings {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0;
  }
  
  .house {
    width: 30%;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .house img {
    width: 100%;
    height: auto;
  }
  
  .house h2 {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
  }
  
  .house p {
    padding: 0.5rem;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }